{
    "type" : "Grid",
    "size" : [2, 3],
    "children" : {
        "0" : {
            "type" : "Waveform",
            "data" : {
                "channel" : "",
                "lineColour" : "red",
                "lineWidth" : 2.0
            }
        },
        "1" : {
            "type" : "Waveform"
        },
        "2" : {
            "type" : "Waveform"
        },
        "3" : {
            "type" : "Waveform"
        },
        "4" : {
            "type" : "Waveform"
        },
        "5" : {
            "type" : "Grid",
            "size" : [2, 2],
            "children" : {
                "0" : {
                    "type" : "Waveform"
                },
                "1" : {
                    "type" : "Waveform"
                },
                "2" : {
                    "type" : "Waveform"
                },
                "3" : {
                    "type" : "Waveform"
                }
            }
        }
    }
}
